body{
    background-image: url("../images/famille_2.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-y:inherit;
}
#retour{
    position: absolute;
    left: 6%;
    bottom: 10px;
    transform: translate(-50%);
}
.mathematiques_et_informatique{
    position: absolute;
    width: 71px;
    height: 71px;
    cursor: pointer;
}
.popupcontent {
    padding: 10px;
}
.popupcontent_title{
    text-align: center;
}
.popupcontent_paragraph{
    padding: 20px;
    text-align: justify;
}
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}
.link{
    display: none;
}
#source_hypathie{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_hypathie:hover{
    font-size: medium;
    padding:20px
}
#source_hypathie:hover a{
    display: inline;
}
#source_georges{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_georges:hover{
    font-size: medium;
    padding:20px
}
#source_georges:hover a{
    display: inline;
}
#source_jacques{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_jacques:hover{
    font-size: medium;
    padding:20px
}
#source_jacques:hover a{
    display: inline;
}
#source_ingrid{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_ingrid:hover{
    font-size: medium;
    padding:20px
}
#source_ingrid:hover a{
    display: inline;
}
#source_jocelyne{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_jocelyne:hover{
    font-size: medium;
    padding:20px
}
#source_jocelyne:hover a{
    display: inline;
}
#source_alonzo{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_alonzo:hover{
    font-size: medium;
    padding:20px
}
#source_alonzo:hover a{
    display: inline;
}
.machines_et_composants{
    position: absolute;
}
#hypathie{
    top:45%;
    left:40%;
}
#georges{
    top:48%;
    left:17%
}
#jacques{
    top: 52%;
    left: 9%;
}
#ingrid{
    top:45%;
    right:40%;
}
#jocelyne{
    top:48%;
    right:17%
}
#alonzo{
    top: 52%;
    right: 9%
}
#popup_hypathie {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}

#popupclose_hypathie {
    position: absolute;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}
#popup_georges{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_georges {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_jacques{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_jacques {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_ingrid{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_ingrid {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_jocelyne{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_jocelyne {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_alonzo{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_alonzo {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
