body {
    background-image: url('../images/sept-familles.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}
p{
    text-align: justify;
    background-color: rgba(240, 255, 255, 0.1);
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.familles_haut{
    position: relative;
    text-align: center;
    top: 95px;
}
#machines{
    transform: translate(-60px);
    width: 175px;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
}
#machines:hover {
    cursor:pointer;
    box-shadow: 0 0 30px 10px rgba(166, 150, 10, 10);
}
#Mathematiques{
    transform: translate(-20px);
    width: 175px;
    transition: box-shadow 0.2s ease-in-out;
}
#Mathematiques:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 10px rgba(166, 150, 10, 10);
}
#Algorithmes{
    transform: translate(20px);
    width: 175px;
}
#IA{
    transform: translate(60px);
    width: 175px;
}

.familles_bas{
    position: relative;
    text-align: center;
    top: 100px;
}
#interaction{
    transform: translate(-40px);    
    width: 175px;
}
#systemes{
    width: 175px;
}
#securite{
    transform: translate(40px);
    width: 175px;
}
.turing{
    position: relative;
    text-align: center;
    top:100px ;
}

#turing{
    position: absolute;
    width: 175px;
    border-radius: 50%;
    z-index: 20;
    transform: translate(-50%);
    pointer-events: none;
}
#shadowturing{
    position:absolute;
    left: 50%;
    top:17.5px;
    transform: translate(-50%);
    height:140px;
    width:140px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
    transition: box-shadow 0.2s ease-in-out;
}
#shadowturing:hover{
    box-shadow: 0 0 30px 20px rgba(166, 150, 10, 10);
    cursor: pointer;
}
#lutin{
    position: absolute;
    left: 6%;
    bottom: 10px;
    transform: translate(-50%);
}
#button {
    cursor:pointer;
}
