body{
    background-image: url('../images/famille_1.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-y:inherit;
}
#information{
    position: absolute;
    float: right;
    width: 20px;
    padding: 10px;
    cursor:pointer;
    right:2%;
    top:3%;
    font-size: larger;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100%;
    position: center center;
}
#i{
    position: relative;
    left: 8px;
}
#retour{
    position: absolute;
    left: 6%;
    bottom: 10px;
    transform: translate(-50%);
}
.popupcontent {
    padding: 10px;
}
.popupcontent_title{
    text-align: center;
}
.popupcontent_paragraph{
    padding: 20px;
    text-align: justify;
}
.machines_et_composants {
    cursor: pointer;
    width:71px;
    height:71px;
}
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}
.source{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
.source:hover{
    font-size: medium;
    padding:20px;
}
.source:hover a{
    display: inline;
}
.link{
    display: none;
}
.machines_et_composants{
    position: absolute;
}
#charles{
    top:27%;
    left:28%;
}
#john{
    top:33%;
    left:24%
}
#hedy{
    top:39%;
    left: 20%;
}
#seymour{
    top:27%;
    right:28%;
}
#gordon{
    top:33%;
    right:24%
}
#hiroshi{
    top:39%;
    right:20%
}
#popup_information{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_information{
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_charles {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}

#popupclose_charles {
    position: absolute;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}
#popup_john {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_john {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_hedy{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_hedy {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_seymour{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_seymour {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_gordon{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_gordon {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}
#popup_hiroshi{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}
#popupclose_hiroshi {
    position: absolute;
    float: right;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: center center;
}

