body{
    background-image: url('../images/salle_Alan_Turing.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow-y:inherit;
}
#retour{
    position: absolute;
    left: 6%;
    bottom: 10px;
    transform: translate(-50%);
}
.popupcontent {
    padding: 10px;
}
.popupcontent_title{
    text-align: center;
}
.popupcontent_paragraph{
    padding: 20px;
    text-align: justify;
}
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left:0;
    filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}
.link{
    display: none;
}
#source_turing{
    font-size: larger;
    text-align: center;
    transition: 0.3s linear;;
}
#source_turing:hover{
    font-size: medium;
    padding:20px
}
#source_turing:hover a{
    display: inline;
}
#turing{
    position: absolute;
    height: 71px;
    width: 71px;
    top: 42%;
    left:48%;
}

#popup_turing {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px; 
    z-index: 200;
    border-radius: 10%;
}

#popupclose_turing {
    position: absolute;
    padding: 10px;
    cursor:pointer;
    right:4%;
    top:3%;
    font-size: larger;
    color: red;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}