body {
    background-image: url('notre-equipe.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
h1 {
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: "Courier New", Monaco, serif;
  background-color: rgba(91, 91, 91, 0.413);
}
#retour {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
}
