body {
    background-image: url('sept-familles.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
}
.familles_haut{
    position: relative;
    text-align: center;
    top: 95px;
}
#machines{
    transform: translate(-60px);
    width: 175px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}
#machines:hover {
    cursor:pointer;
    box-shadow: 0 0 30px 10px rgba(166, 150, 10, 10);
}
#Mathematiques{
    transform: translate(-20px);
    width: 175px;
    transition: box-shadow 0.3s ease-in-out;
}
#Mathematiques:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 10px rgba(166, 150, 10, 10);
}
#Algorithmes{
    transform: translate(20px);
    width: 175px;
}
#IA{
    transform: translate(60px);
    width: 175px;
}

.familles_bas{
    position: relative;
    text-align: center;
    top: 100px;
}
#interaction{
    transform: translate(-40px);    
    width: 175px;
}
#systemes{
    width: 175px;
}
#securite{
    transform: translate(40px);
    width: 175px;
}
.turing{
    position: relative;
    text-align: center;
    top:100px ;
}

#turing{
    position: absolute;
    width: 175px;
    border-radius: 50%;
    z-index: 20;
    transform: translate(-50%);
    pointer-events: none;
}
#shadowturing{
    position:absolute;
    left: 50%;
    top:17.5px;
    transform: translate(-50%);
    height:140px;
    width:140px;
    border-radius: 50%;
    background-color:blue;
    z-index: 1;
    transition: box-shadow 0.3s ease-in-out;
}
#shadowturing:hover{
    box-shadow: 0 0 30px 20px rgb(203, 191, 98);
}
#lutin{
    position: absolute;
    left: 6%;
    bottom: 10px;
    transform: translate(-50%);
}


#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height:100%;
    opacity: 0.8;
    z-index: 100;
}

#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
}

#popupclose {
    float: right;
    padding: 10px;
    cursor:pointer
}

.popupcontent {
    padding: 10px;
}

#button {
    cursor:pointer;
}