body {
    background-image: url('pere-noel.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    vertical-align: middle;
}
#titre {
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(91, 91, 91, 0.413);
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.notre-equipe {
    transition-duration: 0.4s;
    background-color: #04AA6D; /* vert */
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
}
.notre-equipe:hover {
    background-color: #FFFFFF; /* blanc */
    color: #04AA6D;
}
.sept-familles {
    transition-duration: 0.4s;
    background-color: #E6421E; /* rouge */
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
}
.sept-familles:hover {
    background-color: #FFFFFF; /* blanc */
    color: #E6421E;
}
